[submodule "zsh/git-prompt"]
	path = zsh/git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/angular-cli.vim"]
	path = vim/bundle/angular-cli.vim
	url = git@github.com:bdauria/angular-cli.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx.vim
	url = git@github.com:chr4/nginx.vim.git
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = git@github.com:luochen1990/rainbow.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/bundle/tsuquyomi"]
	path = vim/bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/bundle/vdebug"]
	path = vim/bundle/vdebug
	url = git@github.com:vim-vdebug/vdebug.git
[submodule "vim/bundle/vim-closetag"]
	path = vim/bundle/vim-closetag
	url = git@github.com:alvan/vim-closetag.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-js-indent"]
	path = vim/bundle/vim-js-indent
	url = git@github.com:jason0x43/vim-js-indent.git
[submodule "vim/bundle/vim-localvimrc"]
	path = vim/bundle/vim-localvimrc
	url = git@github.com:embear/vim-localvimrc.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/bundle/vim-vue"]
	path = vim/bundle/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/bundle/pony.vim"]
	path = vim/bundle/pony.vim
	url = git@github.com:jmcomets/vim-pony.git
